@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-container {
    perspective: 1000px;
}
.image-container {
    transform-style: preserve-3d;
    transition: transform 0.1s ease;
}